<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="bootstrap-3.2.0"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>

    <body role="document">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h2 th:text="#{party.party}">Party</h2>
            </div>

            <div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}" />

            <table class="table table-striped">
                <tr>
                    <th class="col-sm-1">Name</th>
                    <td class="col-sm-2"><b th:text="|${party.partyName}|">[firstname lastname]</b></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td th:text="${party.cityName}">[address]</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td th:text="${party.cityName}">[city]</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td th:text="${party.cityName}">[telephone]</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-actions pull-right">
                            <input type="button" class="btn btn-info" value="Edit Owner" onclick="window.location.href='ownerForm.html'" th:onclick="'window.location.href=\'' + @{|${party.id}/edit.html|} + '\''" />
                            <input type="button" class="btn btn-danger" value="Back to List" onclick="window.location.href='ownersList.html'" th:onclick="'window.location.href=\'' + @{|/parties/list.html?lastName=${session.searchLastName}|} + '\''" />
                        </div>
                    </td>
                </tr>
            </table>

            <div class="starter-template">
                <h2 th:text="#{contact.contacts}">#Contacts#</h2>

                <a class="btn btn-sm btn-success pull-right" href="../pets/petForm.html" th:href="@{|${party.id}/pets/new.html|}">Add New Pet</a>
                <br/><br/>

                <table class="table">
                    <tr th:each="contact : ${party.contacts}">
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <th class="col-sm-1">Name</th>
                                    <td class="col-sm-1" th:text="${contact.firstName}">[name]</td>
                                </tr>
                                <tr>
                                    <th>Birth Date</th>
                                    <td th:text="${contact.firstName}">[birthdate yyyy-MM-dd]</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td th:text="${contact.firstName}">[type]</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info pull-left" href="../pets/petForm.html" th:href="@{|/parties/${party.id}/pets/${contact.id}/edit|}">Edit Pet</a>
                        </td>
                        <td>
                         </td>
                    </tr>
                </table>
            </div>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
