<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="bootstrap-3.2.0"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>

    <body role="document" onload="$('input[name=partyName]').focus();">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h2 th:text="#{party.party}"><span th:if="${party['new']}" th:remove="tag" th:text="#{action.add}">Create</span><span th:unless="${party['new']}" th:remove="tag"  th:text="#{action.update}">Update</span> Owner</h2>
            </div>

            <div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}" />

            <form th:object="${party}" method="post" action="ownerDetails.html" th:action="@{${#httpServletRequest.servletPath}}"
                class="form-horizontal" id="party-form">
                <div th:replace="fragments/hiddenErrors :: hiddenErrors">REPLACE BEFORE COMMITTING</div>

                <table class="table table-striped">
                    <tr th:classappend="${#fields.hasErrors('partyName')} ? 'has-error'">
                        <td class="col-sm-1">
                            <div class="control-group" th:classappend="${#fields.hasErrors('partyName')} ? 'error'">
                                <label class="control-label">First Name</label>
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="controls">
                                <input type="text" class="form-control" th:field="*{partyName}" />
                                <label class="control-label" th:errors="*{partyName}">[error]</label>
                            </div>
                        </td>
                    </tr>
                    <tr th:classappend="${#fields.hasErrors('cityName')} ? 'has-error'">
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('cityName')} ? 'error'">
                                <label class="control-label">Last Name</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <input type="text" class="form-control" th:field="*{cityName}" />
                                <label class="control-label" th:errors="*{cityName}">[error]</label>
                            </div>
                        </td>
                    </tr>                    
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-actions pull-right">
                                <input type="submit" class="btn btn-success" th:value="(${party['new']} ? 'Add' : 'Update') + ' Owner'" />
                                <input type="button" th:if="${party.id}" th:onclick="'window.location.href=\'' + @{|/owners/${party.id}|} + '\''" class="btn btn-danger" value="Cancel" />
                                <input type="button" th:unless="${party.id}" th:onclick="'window.location.href=\'' + @{|/owners/find.html|} + '\''" class="btn btn-danger" value="Cancel" />
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
